[{:name "http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  :source "http://www.w3.org/1999/02/22-rdf-syntax-ns.ttl",
  :target "rdf.ttl",
  :format :genegraph.framework.storage.rdf/turtle
  :poll 24}
 {:name "https://www.ncbi.nlm.nih.gov/clinvar/"
  :source "https://ftp.ncbi.nlm.nih.gov/pub/clinvar/xml/ClinVarVCVRelease_00-latest.xml.gz.md5"
  :hash-check-source "https://ftp.ncbi.nlm.nih.gov/pub/clinvar/xml/ClinVarVCVRelease_00-latest.xml.gz.md5"
  :hash-check-type :md5hex
  :target "clinvarx.xml.gz"
  :format :genegraph.api.base/clinvar
  :action :genegraph.api.base/load-clinvar
  :poll 24}]

